// This selector is used to override boostrap styles when using the component in
// GitLab

.gl-filtered-search-suggestion-list.dropdown-menu {
  @include gl-display-block;
  width: $gl-dropdown-width;
  @include gl-p-2;
  @include gl-border-gray-200;
  @include gl-rounded-lg;
  @include gl-shadow-md;
}

.gl-filtered-search-suggestion-list {
  position: absolute;
  @include gl-overflow-y-auto;
  max-height: $gl-max-dropdown-max-height;

  .gl-filtered-search-suggestion,
  .gl-filtered-search-suggestion > a,
  .gl-filtered-search-suggestion > button {
    border-radius: $gl-border-radius-base !important;
  }

  .gl-dropdown-divider {
    @include gl-mx-n2;
  }

  .gl-spinner-container {
    @include gl-my-2;
  }

  .gl-filtered-search-suggestion {
    @include gl-p-0;
  }
}
